@import url('https://fonts.cdnfonts.com/css/samarkan');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
/* @font-face {
  font-family: 'Samarkan';
  src: local('Samarkan'), url("../public/SAMAN___.ttf") format('ttf');
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
	display: none;
}

html,
body {
  color: rgb(0, 0, 0);
  background-color: white;
  font-family: "Raleway", cursive;
}
/* udbhav text */

#scroll-text {
  height: 100%;
  text-align: center;

  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);

  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 30s linear infinite;
}
#scroll-text:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes my-animation {
  to {
    -moz-transform: translateY(-300%);
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

#text-drop {
  position: relative;
  display: flex;
  font-family: arial;
  font-weight: 900;
}

.u {
  font-family: "Samarkan";
  opacity: 0;
  text-shadow: 6px 6px 2px #ffffff49;
  animation: drop 0.4s linear forwards;
}

.d {
  font-family: "Samarkan";
  text-shadow: 6px 6px 2px #ffffff49;
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
}

.b {
  font-family: "Samarkan";
  text-shadow: 6px 6px 2px #ffffff49;
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
}

.h {
  font-family: "Samarkan";
  text-shadow: 6px 6px 2px #ffffff49;
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
}

.a {
  font-family: "Samarkan";
  text-shadow: 6px 6px 2px #ffffff49;
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

.v {
  font-family: Samarkan;

  text-shadow: 6px 6px 2px #ffffff49;
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
}
#scroll-container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 200px;
  margin: auto;
  border: 4px solid #eb1c49;
  overflow-x: hidden;
}

#target {
  width: fit-content;
  animation: rightToLeft 25s linear infinite;
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1300px);
  }
  100% {
    transform: translateX(-1450px);
  }
}
#top-bar {
  display: none;
}
@media only screen and (max-width: 1024px) {
  #side-bar {
    display: none;
  }
  #top-bar {
    display: inline-block;
  }
  #target {
    width: fit-content;
    animation: rightToLeft 25s linear infinite;
  }
  @keyframes rightToLeft {
    0% {
      transform: translateX(400px);
    }
    100% {
      transform: translateX(-1450px);
    }
  }
}
#card-home {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
#card-profile {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 765px) {
  #card-home {
    display: none;
  }
  #spline-animation {
    display: none;
  }
	#hello{
		display: none;
	}
}
/* loader */
#loader-container {
  background: rgb(255, 255, 255)
    url("https://ik.imagekit.io/e5ixuxrlb/Udbhav/Loaders/loaderUdbhav.gif?updatedAt=1682157256818")
    no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
